.hero {
    height: 600px;
    background-position: center;
    background-size: cover;
    color: rgb(33, 37, 41);
}

.zoom-img {
    overflow: clip;
    background-color: #000000;
}

.zoom-img img {
    object-fit: cover;
    transition: all 0.5s ease;
}

.zoom-img img:hover {
    transform: scale(1.2);
    filter: opacity(50%);
}

#phoneInputDiv > div {
    width: 100%;
}

.navbar-nav {
  width: calc(100vw - 24px);
}

.navbar-brand {
  position: absolute;
  top: calc(0px + 8px);
}

.move-right a {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    position: relative;
    top: 0;
  }

  .move-right a {
    display: block;
  }
}