{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Our Mission</h2>
        <p>Our mission is to provide a global platform for gifted children to showcase their artistic talents, inspire
            creativity, and cultivate a love for the arts.</p>
        <h2>Our Story</h2>
        <p>The Ignite Art Show was founded by a group of high school students who love art and value education. They aim
            to create a global stage for young artists, helping them express themselves through art and find confidence
            and direction.</p>
        <h2>Team Members</h2>
        <h3>Abereena Xu - Founder & President</h3>
        <p>Leading the overall vision, strategic planning, and collaboration efforts for the art show.</p>
        <h3>Zena Su - Founder & Communications Lead</h3>
        <p>Responsible for external communications, media outreach, and brand representation.</p>
        <h3>Cici Yao - Founder & Operations Lead</h3>
        <p>Overseeing the event's operations, logistics, and resource management.</p>
        <h3>Benjamin Wang - Technical Lead</h3>
        <p>Managing web development, UI/UX design, and technical support for the platform</p>
    </div>
{% endblock %}