{% extends "base.html" %} {% block content %}
    <section>
        <div
                class="hero mb-3"
                style="background-image: url({{ url_for('static', filename='assets/img/indexhero.jpeg') }});"
        >
            <div class="container h-100">
                <div class="row h-100">
                    <div
                            class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"
                    >
                    </div>
                </div>
            </div>
            <div class="w-100 text-end pe-5 pt-2">
                <small>Artwork by Abereena Xu</small>
            </div>
        </div>
    </section>
    <section>
        <div class="container h-100 position-relative">
            <h2>About the Show</h2>
            <p>The Ignite Global Gifted Child Art Show is an international platform dedicated to showcasing the
                exceptional artistic talents and creativity of gifted children worldwide. We believe that every child
                possesses extraordinary potential and creativity that deserves recognition and celebration.</p>
            <h2>Highlights of Participation</h2>
            <ul>
                <li><strong>Exciting Awards:</strong> Stand a chance to win cash prizes, honorary certificates, and
                    exclusive online interviews.
                </li>
                <li><strong>Global Showcase:</strong> Present your artwork to an international audience and gain
                    recognition from professional judges and art enthusiasts.
                </li>
                <li><strong>Opportunities for Growth:</strong> Winners can attend online workshops hosted by renowned
                    artists, enhancing their skills and broadening their horizons.
                </li>
            </ul>
            <h2>Participation Requirements</h2>
            <ul>
                <li><strong>Theme</strong>: "My World" - encouraging personal and diverse expressions.</li>
                <li><strong>Art Forms</strong>: Accepting various media, including painting, digital art, sculpture, and
                    more.
                </li>
            </ul>
            <h2>Award Categories</h2>
            <div class="row">
                <div class="col shadow p-3 m-2 rounded-3">
                    <h3>Best Creativity Award</h3>
                    <p>Honoring outstanding creativity and imaginative expression.</p>
                </div>
                <div class="col shadow p-3 m-2 rounded-3">
                    <h3>Best Design Award</h3>
                    <p>Recognizing exceptional design and artistic appeal.</p>
                </div>
                <div class="col shadow p-3 m-2 rounded-3">
                    <h3>Best Theme Interpretation Award</h3>
                    <p>Celebrating works that best reflect the theme "My World."</p>
                </div>
                <div class="col shadow p-3 m-2 rounded-3">
                    <h3>Most Popular Award</h3>
                    <p>Based on public votes for the most admired piece of art.</p>
                </div>
                <div class="col shadow p-3 m-2 rounded-3">
                    <h3>Judges' Special Award</h3>
                    <p>Selected by the panel of judges for extraordinary submissions.</p>
                </div>
            </div>
            <h2>Key Dates</h2>
            <ul>
                <li><strong>Submission Deadline</strong>: December 31, 2024</li>
                <li><strong>Winner Announcement</strong>: February 15, 2025</li>
            </ul>
            <h2>Judging Panel</h2>
            <p>The panel consists of five esteemed artists and child education experts from around the globe.</p>
            <h2>Organizers</h2>
            <p><strong>Host:</strong> VYAS Ignite</p>
            <p><strong>Co-Host:</strong> Canada hands and feet of all abilities foundation</p>
            <div class="d-flex flex-row align-items-start">
                <a href="https://www.thevyas.org/" class="me-2">
                    <img src="{{ url_for('static', filename='assets/img/vyas.jpg') }}"
                         alt="Vancouver Youth Advocacy Society"
                         style="max-height: 200px"
                    >
                </a>
                <a href="https://handsfeetaa.ca/" style="text-decoration: none;" class="d-flex flex-column">
                    <img src="{{ url_for('static', filename='assets/img/hfaa.jpg') }}"
                         alt="Canada Hands and Feet of All Abilities Foundation" style="height: 100px; width: 100px; margin-top: 33px; margin-left: auto; margin-right: auto;">
                    <img src="{{ url_for('static', filename='assets/img/hfaatext.jpg') }}"
                         alt="Canada Hands and Feet of All Abilities Foundation" style="max-height: 50px;">
                </a>
            </div>
            <h2>Featured Artworks</h2>
            <div class="d-flex flex-wrap justify-content-center">
                {% for artwork in artworks %}
                    <a
                            href="/gallery"
                            style="display: inline-block; width: 33%; padding: 5px"
                    >
                        <div class="zoom-img">
                            <img
                                    style="width: 100%; height: auto"
                                    src="https://ignite-global.s3.ap-southeast-2.amazonaws.com/{{ artwork['filename'] }}"
                            />
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
