{% extends "base.html" %} {% block content %}
    <section>
        <div
                class="hero"
                style="background-image: url({{ url_for('static', filename='assets/img/indexhero.jpeg') }});"
        >
            <div class="container h-100">
                <div class="row h-100">
                    <div
                            class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"
                    >
                        <!--
                        <div style="max-width: 400px; background-color:rgba(0,0,0,0.6); padding: 20px">
                            <h1
                                    class="text-uppercase fw-bold"
                                    style="color: var(--bs-body-bg)"
                            >
                                <div class="text-primary">Ignite</div>
                                your creativity
                            </h1>
                            <p class="my-3" style="color: var(--bs-body-bg)">
                                The Ignite Global Gifted Child Art Show is an international platform designed to
                                showcase the artistic talents of gifted children worldwide. We believe every child has
                                unique creativity waiting to be discovered and shared. 
                            </p>
                            <a
                                    class="btn btn-primary btn-lg me-2"
                                    role="button"
                                    href="/submit"
                            >Submit Artwork</a
                            ><a
                                class="btn btn-lg btn-primary"
                                role="button"
                                href="/gallery"
                        >Explore Gallery</a
                        >
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container h-100 position-relative">
            <h1>About the Show</h1>
            <p>The Ignite Global Gifted Child Art Show is an international platform dedicated to showcasing the
                exceptional artistic talents and creativity of gifted children worldwide. We believe that every child
                possesses extraordinary potential and creativity that deserves recognition and celebration.</p>
            <h2>Highlights of Participation</h2>
            <ul>
                <li><strong>Exciting Awards:</strong> Stand a chance to win cash prizes, honorary certificates, and
                    exclusive online interviews.
                </li>
                <li><strong>Global Showcase:</strong> Present your artwork to an international audience and gain
                    recognition from professional judges and art enthusiasts.
                </li>
                <li><strong>Opportunities for Growth:</strong> Winners can attend online workshops hosted by renowned
                    artists, enhancing their skills and broadening their horizons.
                </li>
            </ul>
            <h2>Participation Requirements</h2>
            <ul>
                <li><strong>Theme</strong>: "My World" - encouraging personal and diverse expressions.</li>
                <li><strong>Art Forms</strong>: Accepting various media, including painting, digital art, sculpture, and
                    more.
                </li>
            </ul>
            <h2>Award Categories</h2>
            <ol>
                <li><strong>Best Creativity Award</strong>: Honoring outstanding creativity and imaginative expression.
                </li>
                <li><strong>Best Design Award</strong>: Recognizing exceptional design and artistic appeal.</li>
                <li><strong>Best Theme Interpretation Award</strong>: Celebrating works that best reflect the theme "My
                    World."
                </li>
                <li><strong>Most Popular Award</strong>: Based on public votes for the most admired piece of art.</li>
                <li><strong>Judges' Special Award</strong>: Selected by the panel of judges for extraordinary
                    submissions.
                </li>
            </ol>
            <h2>Key Dates</h2>
            <ul>
                <li><strong>Submission Deadline</strong>: December 31, 2024</li>
                <li><strong>Winner Announcement</strong>: February 15, 2025</li>
            </ul>
            <h2>Judging Panel</h2>
            <p>The panel consists of five esteemed artists and child education experts from around the globe.</p>
            <h1>Organizers</h1>
            <p><strong>Host:</strong> VYAS Ignite</p>
            <p><strong>Co-Host:</strong> Canada hands and feet of all abilities foundation</p>
            <div class="flex-row">
                <a href="https://www.thevyas.org/"><img src="{{ url_for('static', filename='assets/img/vyas.jpg') }}"
                                                        alt="Vancouver Youth Advocacy Society"
                                                        style="max-height: 200px"></a>
                <a href="https://handsfeetaa.ca/" style="text-decoration: none;" class="flex-column">
                    <img src="{{ url_for('static', filename='assets/img/hfaa.jpg') }}"
                         alt="Canada Hands and Feet of All Abilities Foundation" style="max-height: 150px;">
                    <img src="{{ url_for('static', filename='assets/img/hfaatext.jpg') }}"
                         alt="Canada Hands and Feet of All Abilities Foundation" style="max-height: 70px;">
                </a>
            </div>
            <h1>Featured Artworks</h1>
            <div class="d-flex flex-wrap justify-content-center">
                {% for artwork in artworks %}
                    <a
                            href="/gallery"
                            style="display: inline-block; width: 33%; padding: 5px"
                    >
                        <div class="zoom-img">
                            <img
                                    style="width: 100%; height: auto"
                                    src="https://ignite-global.s3.ap-southeast-2.amazonaws.com/{{ artwork['filename'] }}"
                            />
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
