{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>2023 Winners</h1>
        <h2>Jerry Zhou</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Jerry Zhou, 21, was diagnosed with ASD at the age of 7. He showed a natural interest in drawing from
                    a young
                    age and began formal lessons at 9. Under his teacher&#39;s guidance, Jerry discovered how to express
                    his
                    experiences and imagination through art. Painting became his way of exploring the world, allowing
                    him to
                    reflect and create in his quiet inner space. Over time, he began incorporating new elements and
                    landscapes
                    into his work, expanding his horizons and continuously enhancing his artistic abilities. </p>
                <p>In March 2022, Jerry held his solo exhibition <em>My Fantasy World</em> at the TCCS Art Gallery. In
                    2023 and
                    2024, his work was featured in <em>The Special Needs Art Exhibition</em>, gaining widespread
                    recognition
                    from local media, including <em>Sing Tao Daily</em> and <em>Ming Bao</em>, as well as TV coverage.
                    His
                    exhibitions also received praise and support from the community, Burnaby’s Mayor, and local MPs.
                </p>
                <p>To share Jerry’s art with a wider audience, his artwork has been used to create a range of everyday
                    products.
                    Using modern heat sublimation techniques, these items combine functionality with Jerry’s artistic
                    vision.
                    Explore his collection at <a href="http://www.jerryartwork.etsy.com">www.jerryartwork.etsy.com</a>.
                </p></div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='assets/img/jerry1.JPG') }}" alt="Jerry Zhou's artwork"
                     class="img-fluid">
                <img src="{{ url_for('static', filename='assets/img/jerry2.JPG') }}" alt="Jerry Zhou's artwork"
                     class="img-fluid">
            </div>
        </div>
        <h2>Spencer Lin</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='assets/img/spencer1.JPG') }}" alt="Spencer Lin's artwork"
                     class="img-fluid">
                <img src="{{ url_for('static', filename='assets/img/spencer2.JPG') }}" alt="Spencer Lin's artwork"
                     class="img-fluid">
            </div>
            <div class="col-md-6">

                <p>Spencer Lin, 17, was diagnosed with autism at the age of 2. From a young age, he has had a passion
                    for
                    drawing and handcrafts, particularly creating clay figurines inspired by characters from games like
                    Angry
                    Birds. Crafting provides Spencer with a way to relieve anxiety and maintain a sense of calm.
                    Spencer also enjoys painting, which allows him to focus and embrace the creative process. Through
                    his
                    artwork, he has gained confidence and discovered a clear direction in life. He aspires to become an
                    artist
                    in the future.
                </p>
                <p>In the spring of 2023, Spencer showcased his work at The 1st Special Needs Art Exhibition. His
                    creations were
                    met with widespread admiration, earning praise for their creativity and detail. The exhibition drew
                    support
                    from community leader, as well as recognition from media outlets. Spencer&#39;s work not only
                    impressed
                    attendees but also highlighted the power of artistic expression.
                </p>
            </div>
        </div>
        <h2>Jody Lu</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Jody Lu, 15, is a bright and inquisitive homeschooled teen who embraces learning even in her free
                    time. She
                    has a passion for skating, swimming, and creating DIY crafts alongside her talented art teacher,
                    &quot;Messy
                    Jessy.&quot; Music is Jody’s greatest love—she admires Jay Chou and enjoys exploring diverse music
                    genres
                    while playing the interactive game Just Dance.
                    Currently, Jody is focusing on developing independent life skills and job training through her
                    involvement
                    with the Clawsum Kids Club. Alongside her friends, she enjoys making candles, especially tea lights,
                    and
                    contributes to event and party decorations with creative balloon displays. These activities showcase
                    her
                    excellent teamwork and executive functioning skills.
                    In the spring of 2023, Jody’s artwork was featured in The 1st Special Needs Art Exhibition. Her
                    pieces,
                    celebrated for their vibrant colors, playful themes, and warm energy, captivated viewers and earned
                    her
                    widespread praise.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='assets/img/jody1.JPG') }}" alt="Jody Lu's artwork"
                     class="img-fluid">
                <img src="{{ url_for('static', filename='assets/img/jody2.JPG') }}" alt="Jody Lu's artwork"
                     class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}